extends layout

script
  | console.log(request)
  | console.log(response)

block content
  form(action='/users', method='post')
    label email
    input(type='text', name='username')
    br
    label password
    input(type='text', name='password')
    br
    button(type='submit') push
